name: ascii_camera
description: ASCII camera art.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.16.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  ffi: ^1.1.2
  camera: ^0.9.4+14

  # state management
  flutter_bloc: ^8.0.1
  equatable: ^2.0.3

  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0

flutter:
  uses-material-design: true
